<form method="POST" action="/admin/post-projects">
  <label for="pseudo">Entrez un titre: </label>
  <input type="text" name="pseudo" id="pseudo" /><br />
  <br />
  <label for="Description">Description :</label>
  <textarea name="description" id="description"></textarea> <br /><br />
  <input
    type="file"
    id="imageinput"
    name="avatar"
    accept="image/png, image/jpeg"
  /><br />
  <input type="submit" value="Envoyez" />
</form>
